.ano{
    width: 20%;
    height: 20%;
    background-color: #000000;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    }
.logo1{
    position: fixed;
    z-index: 1;
    margin-top: 15px;
    margin-left: 15px;
}

.topnav {
    position: fixed;
    top: 11.5%;
    display: none;
    z-index: 1;
    border: solid;
    height: 50px;
    width: 100%;
    background-color: black;
    opacity: 0.5;


}

.topnav a {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 30px;
    padding-top: 15px;
    margin-top: -3px;

  text-decoration: none;

    z-index: 1;
}

.topnav>a:nth-child(5){

    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    height: 2px;
    padding-bottom: 2%;
    width: 223px;
    margin-right: 1px;
    margin-top: -1px;
    word-spacing: 3px;

}

.topnav>a:nth-child(5):hover{
    background-color: black;
    color: white;
    cursor: default;

}

.topnav a:hover {
  background-color: #ddd;
  color: red;

}


.topnav>span{
color:white;
    font-size: 2em;
    font-family: 'Thasadith', sans-serif;
float:right;
padding-right:50px;
text-align:center;
padding-top:20px;
}

.topnav a.active {
  color: red;

}



.b{
    display: block;
    position:absolute;
    top: 250px;
    left: 33.5%;
    word-spacing: 10px;
    width: 33%;
    margin: auto;
    border-radius: 10px;
    height: 10%;
    border: solid;
    border-color: white;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 3em;
    font-family: 'Thasadith', sans-serif;
}

.classa{
    position: relative;
    top: -250px;
    left: 45.3%;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    color: #adadad;
    animation: animal 1s infinite ease-in-out ;
    animation-direction: alternate;
    z-index: 1;

}

.classy{
  z-index: 2;
  animation: abcd 1s infinite ease-in-out;

}



.blackopacity{

    opacity: 0.55;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 105%;

    background-color: black;
}

.blackopacity2{
    display:none;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 105%;

    background-color: black;
}






/*//////////////////////////////////////////////////arrow design//////////////////////////////////////*/

.arrow{
    border: solid;
    border:none;
    width: 50px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 50px;
    position: absolute;
    top: 85%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.a:hover{

    animation-play-state: paused;

}
.arrow span{

    display: block;
    width: 60px;
    height: 60px;
    border-bottom: 2px solid #06A8FF;
    border-right: 2px solid #06A8FF;
    transform: rotate(45deg);
    margin: -40px;
    animation: animate 1s infinite ;
}




.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    visibility: hidden;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


/*//////////////////////////////////////////////////arrow design//////////////////////////////////////*/

.topbar{

    position: fixed;
    left: 0%;
    top: 0%;
    height: 11%;
    width: 100%;
    color: #201e3e;
    border: solid;
    background-color: #201e3e;

}





.c{


    display: flex;
    position: absolute;

    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 4%;
    left: 3%;


}

.background{
    width: 100%;
    height:90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../images/home6.png);
    position: absolute;
    z-index: -2;
    top: 10%;
}

.topbar span{
    float: right;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 2%;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: white;
    transform: translateY(-50%);
}

.topbar img{
    float: left;
    left: 1%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

 input{
    width: 16%;
    height: 9%;
    padding: 0.7%;
    display: block;
    justify-content: center;
    box-shadow: 0px 9px 9px 0px #000000;
    align-items: center;
    align: center;

   font-family: 'Montserrat', sans-serif;
   font-size: 0.5cm;
    /*margin-left: 300px;*/
    background-color: #201e3e;

    border-radius: 10px;
    color: white;

}
input:hover{
    background-color:#373553 ;
    box-shadow:  0px 9px 25px 0px #000000;
    border-radius: 20px;
    cursor: pointer;
}

input:active{
    background-image: #2a2481;
    color: white;
    box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.91);
}


.fac{

    position: absolute;
    margin-top: 200px;
    margin-left: 0px;

}


/* .c > .stud{

    position: absolute;
    margin-top: 200px;
    margin-left: 350px;

} */


.stud{

    position: absolute;
    margin-top: 300px;
    margin-left: 0px;

}


.c > .calculate{

    position: absolute;
    margin-top: 300px;
    margin-left: 350px;

}

.c > .schedule{

    position: absolute;
    margin-top: 400px;
    margin-left: 0px;

}

.c > .dates{

    position: absolute;
    margin-top: 400px;
    margin-left: 350px;

}

.c > .query{

    position: absolute;
    margin-top: 500px;
    margin-left: 0px;

}

.c > .update{

    position: absolute;
    margin-top: 500px;
    margin-left: 350px;

}

.c > .leaves{

    position: absolute;
    margin-top: 600px;
    margin-left: 0px;

}

@keyframes tubelight{
    0% {
        color: white;
        border-color: aqua;
        box-shadow:  0px 0px 40px 3px #218CFF;
        text-shadow: 0px 0px 14px #218CFF;
    }
    20%{
        color: white;
        border-color: aqua;
       box-shadow:  0px 0px 40px 3px #218CFF;
        text-shadow: 0px 0px 14px #218CFF;
    }

    30%{
        color: white;
        border-color: aqua;
       box-shadow:  0px 0px 40px 3px #218CFF;
        text-shadow: 0px 0px 14px #218CFF;
    }

    37%{
        color: white;
        border-color: aqua;
       box-shadow:  0px 0px 40px 3px #218CFF;
        text-shadow: 0px 0px 14px #218CFF;
    }
    42%{

        color: white;
        border-color: aqua;
       box-shadow:  0px 0px 40px 3px #218CFF;
        text-shadow: 0px 0px 14px #218CFF;
    }


    92%{

        color: aqua;
        border-color: aqua;
        box-shadow:  0px 0px 40px 3px #218CFF;
        text-shadow: 0px 0px 14px #218CFF;
    }




    45%{
        opacity: 0;
        text-shadow: none;
    }

    47%{
        opacity: 0;
        text-shadow: none;
    }

    88%{

        opacity: 0;
        text-shadow: none;
    }

    90%{

        opacity: 0;
        text-shadow: none;
    }
}


}

@keyframes animal{
    from{
        font-size: 1.5em;
    }

    to{
        font-size: 2em;
    }
}

@keyframes abcd {
  o%{
    color:#bfbec0;



  }

  50%{
    color:white;
    opacity: 70%;
    font-size: 23px;
    left: 46%;

  }

}
