.c input{
    width: 16%;
    height: 12%px;
    padding: 0.7%;
    display: block;
    justify-content: center;
    box-shadow: 0px 9px 9px 0px #000000;
    align-items: center;
    align: center;

   font-family: 'Montserrat', sans-serif;
   font-size: 0.5cm;
    /*margin-left: 300px;*/
    background-color: #201e3e;

    border-radius: 10px;
    color: white;

}
.c input:hover{
    background-color:#373553 ;
    box-shadow:  0px 9px 25px 0px #000000;
    border-radius: 20px;
    cursor: pointer;
}

.c input:active{
    background-image: #2a2481;
    color: white;
    box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.91);
}


.c > .insert{

    position: absolute;
    margin-top: 200px;
    margin-left: 0px;

}


.c > .display{

    position: absolute;
    margin-top: 200px;
    margin-left: 350px;

}
