
{% load static %}
<html>
    <head>
        <meta charset="utf8">
          <link rel="stylesheet" href='{% static "css/1.css" %}'>

    </head>
    <body>

      <!-- <img  id="log" class="logo1" src="collegelogo.png" width="205px" height="70px"> -->
            <div class="topbar"><img  id="log" class="logo" src='{% static "images/collegelogo.png" %}' width="205px" height="70px"><span class="rightheading">Data Analytics</span></div>
                <!-- <div class="firstimage" tabindex="-1"><img class="backimage" src='exam.jpg' width="120%" height="120%"></div> -->
                <!-- <div class="blackopacity"></div> -->











        <!-- <div class="classy" style="z-index:2;position:fixed;top:70%;left:46.5%;color:color:#bfbec0;font-size:20px;">Press Any Key</div> -->









            <!-- <div class="b">
                <span>Data Analytics</span>
            </div> -->

        <div class="background"></div>























  <div class="c">
        <!-- <h1>Choose One !!</h1> -->
        
        <form action="troute/" method="POST">
          {% csrf_token %}
            <input type="submit" value="Faculty Login" class="fac">


        </form>

        <form action="sroute/" method="POST">
          <!-- <div class="c"> -->
              {% csrf_token %}
          <br>
            <input type="submit" value="Student Login" class="stud">
          </div>

        </form>
        <script type="text/javascript">

        </script>

    </body>
</html>
<!-- <html>
<body>
  <link rel="stylesheet" href="index.css">
<div class="background"></div>
  <div class="c">



      <input type="submit" class="insert" name="insert" value="Insert">


      <input type="submit" class="delete" name="delete" value="Delete">






  </div>


  </form>


  </body>
</html> -->
