{% load static %}
<html>
    <head>
        <title>STATUS</title>
        <link rel="stylesheet" href='{% static "css/input.css" %}'>
    </head>
    <body>
        
        <div class="form" >
                <h3 style="background-color: cadetblue; border-radius: 5px;">Status Updated Successfully</h3><br>
            <b>User Name :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{updatedusername}}<br><br>
            <b>Course ID</b>&nbsp;&nbsp;&nbsp;&nbsp;{{updatedcourse}}<br><br>

        </div>
    </body>
</html>